[Desktop Entry]
Name=BioSANS (0.0.9)
Comment=BioSANS2020
Exec=/home/killuagon/Desktop/UbuntuOSInstaller/BioSANSLib/dist/BioSANS
Icon=/home/killuagon/Desktop/BioSANS.xpm
Terminal=false
Type=Application
Categories=Development;
StartupNotify=true
NoDisplay=true

