[Desktop Entry]
Name=BioSANS
Comment=BioSANS2020
Exec=/home/killuagon/BioSANSLib/BioSANS
Icon=/home/killuagon/BioSANSLib/BioSANS.xpm
Terminal=false
Type=Application
Categories=Development;
StartupNotify=true
NoDisplay=true
